name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 0 * * *' # every day at 00:00
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Restore lychee cache
      uses: actions/cache@v4
      with:
        path: .lycheecache
        key: cache-lychee-${{ github.sha }}
        restore-keys: cache-lychee-
    - name: Link Checker
      id: lychee
      uses: lycheeverse/lychee-action@v2
      with:
        args: "--cache --max-cache-age 1d --exclude https://www.uber.com README.md" # Uber returns 406s otherwise
    - name: "Check for exactly 200 links"
      run: |
        grep "\- \[" README.md | grep -Eo "https?://[^][ ]+" | sed 's/)//' | sort > links-only.txt
        if [ $(uniq links-only.txt | wc -l) != 200 ]; then
          echo "ERROR: List is not exactly 200 entries"
          echo "DUPLICATES:"
          uniq -d links-only.txt
          exit 1
        fi
